@import "./components/react-dropdown/style.css";

@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i|Fira+Code|Fira+Sans:400,900i&display=swap");

.aside-text p {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
  vertical-align: middle;
}

.button-small {
  padding: 4px;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 12px;
  background: var(--background);
  cursor: pointer;
}

.char-0 {
  color: white;
  background-color: white;
}

.char-1 {
  color: black;
  background-color: black;
}

.char-\+ {
  color: yellow;
  background-color: yellow;
}

.char-x {
  color: blue;
  background-color: blue;
}

.char-_ {
  color: white;
  background-color: white;
}

.photonGrid-0 {
  color: black;
  background-color: white;
  margin: 0 1px;
}

.photonGrid-1 {
  color: black;
  background-color: white;
  margin: 0 1px;
}

.photonGrid-\+ {
  color: black;
  background-color: white;
  margin: 0 1px;
}

.photonGrid-x {
  color: black;
  background-color: white;
  margin: 0 1px;
}

.photonGrid-_ {
  color: black;
  background-color: white;
  margin: 0 1px;
}

input {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Fira Sans", sans-serif;
  color: var(--header);
  font-weight: 400;
}

h1.hed,
h2.dek {
  text-align: center;
  vertical-align: middle;
  color: var(--background);
}

h1.hed {
  font-size: 128px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 1px;
}

code {
  font-size: 16px;
  font-family: "Fira Code", monospace;
  font-variant-ligatures: none;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  --header: #403d58;
  --background: #ededef;
  --aside: #fef9ff;
  --scrollBox: #c1eeff;
  --border: #999;
  --border-light: #ccc;
  /* animation */
  --photons: #fff200;
  --overview-grey: #b1cba1;
}

table th,
table td {
  padding: 5px 5px;
  border: 1px solid #dfe2e5;
}
/* React Slider */

.horizontal-slider {
  height: 20px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.overview-slider {
  margin: auto;
}

.zoom-slider {
  width: 440px;
}

.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 4px;
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: grey;
}

.horizontal-slider .example-track {
  top: 4px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: -1px;
  width: 40px;
  height: 20px;
  line-height: 20px;
}

/* Rodal */

/* -- container -- */
.rodal,
.rodal-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.rodal {
  position: fixed;
  white-space: normal;
}

.rodal-dialog {
  max-height: 570px !important;
}

/* -- mask -- */
.rodal-mask {
  position: absolute;
  background: rgba(0, 0, 0, 0.33);
}

/* -- dialog -- */
.rodal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 101;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.rodal-dialog:focus {
  outline: none;
}

/* -- close button -- */
.rodal-close {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
}

.rodal-close:before,
.rodal-close:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #999;
  border-radius: 100%;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.rodal-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rodal-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rodal-close:hover:before,
.rodal-close:hover:after {
  background: #333;
}

/* -- zoom -- */
@-webkit-keyframes rodal-zoom-enter {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes rodal-zoom-enter {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.rodal-zoom-enter {
  -webkit-animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-zoom-leave {
  to {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes rodal-zoom-leave {
  to {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.rodal-zoom-leave {
  -webkit-animation: rodal-zoom-leave both;
  animation: rodal-zoom-leave both;
}
