@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i|Fira+Code|Fira+Sans:400,900i&display=swap");

.aside-text p {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
  vertical-align: middle;
}

.button-small {
  padding: 3px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 11px;
  background: var(--background);
}

.char-0 {
  color: white;
  background-color: white;
}

.char-1 {
  color: black;
  background-color: black;
}

.char-\+ {
  color: yellow;
  background-color: yellow;
}

.char-x {
  color: blue;
  background-color: blue;
}

.photonGrid-0 {
  color: black;
  background-color: white;
  margin: 0 1px;
}

.photonGrid-1 {
  color: black;
  background-color: white;
  margin: 0 1px;
}

.photonGrid-\+ {
  color: black;
  background-color: white;
  margin: 0 1px;
}

.photonGrid-x {
  color: black;
  background-color: white;
  margin: 0 1px;
}

body {
  --header: #403d58;
  --background: #ededef;
  --aside: #fef9ff;
  --scrollBox: #c1eeff;
  --border: #999;
  --border-light: #ccc;
  --photons: #fff200;
}

input {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Fira Sans", sans-serif;
  color: var(--header);
  font-weight: 400;
}

h1.hed,
h2.dek {
  color: var(--background);
}

h1.hed {
  font-size: 96px;
  font-style: italic;
  font-weight: 900;
}
