.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.idyll-step-graphic, .idyll-stepper-control-button, .idyll-step-content {
 background: white;
 color: black;
}

